<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>
      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header bg-dark">
          <h3 class="mb-0 text-white">Register</h3>
        </div>
        <div class="card-body">
          <form #registerForm="ngForm" class="form">
            <div class="form-group">
              <label>Email</label>
              <input type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel" name="email"
                [(ngModel)]="registerUserData.email" [class.is-invalid]="email.invalid && email.touched"
                class="form-control rounded-0" autocomplete="off" required>
              <div *ngIf="(email.errors && email.touched)">
                <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
                <small class="text-danger" *ngIf="email.errors.pattern">Invalid Email format</small>
              </div>
              <div *ngIf="!uniqueEmail">
                <small class="text-danger" *ngIf="!uniqueEmail">This Email have been used</small>
              </div>
            </div>
            <div class="form-group">
              <label>Username</label>
              <input type="text" [(ngModel)]="registerUserData.name" #name="ngModel" name="name"
                class="form-control rounded-0" [class.is-invalid]="name.invalid && name.touched" required minlength="3"
                maxlength="20" autocomplete="off">
              <div *ngIf="name.errors && name.touched">
                <small class="text-danger" *ngIf="name.errors.required">Name is required</small>
                <small class="text-danger" *ngIf="name.errors.minlength">Name must be more than 3 character</small>
              </div>
              <div *ngIf="!uniqueName">
                <small class="text-danger" *ngIf="!uniqueName">This Username have been used</small>
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" [(ngModel)]="registerUserData.password" #password="ngModel" name="password"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d\w\W]{6,}$" class="form-control rounded-0" required
                minlength="6" [class.is-invalid]="password.invalid && password.touched" autocomplete="off">
              <div *ngIf="password.errors && password.touched">
                <small class="text-danger" *ngIf="password.errors.required">Password is required</small>
                <small class="text-danger" *ngIf="password.errors.pattern">Password must be more than 6 character, at
                  least one uppercase and one lowercase letter</small>
              </div>
            </div>
            <button type="button" (click)="validateUser()" [disabled]="!registerForm.form.valid"
              class="btn btn-primary float-right">Next</button>
          </form>

        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->
    </div>
  </div>
</div>


<ng-template #getPicture let-modal>
  <div class="modal-header bg-dark">
    <h4 class="modal-title text-white" id="success-register">You are almost Ready</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="loading" class="d-flex justify-content-center m-5">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>i
    </div>
  </div>
  <div *ngIf="!loading && !isPictureValidate" class="modal-body">
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div *ngIf="firstTime">Upload a Selfie of Containing Yourself Only</div>
      </div>
      <div class="row justify-content-md-center">
        <div *ngIf="!firstTime" class="text-danger">Fail to Detect Face, Please Reupload</div>
      </div>
      <div class="row justify-content-md-center">
        <input style="display: none" type="file" (change)="onFileChanged($event)" accept="image/*" #fileInput>
        <button (click)="fileInput.click()">Select File</button>
      </div>
    </div>
  </div>
  <div *ngIf="!loading && isPictureValidate" class="modal-body">
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div>Is This You?</div>
      </div>
      <div class="row">
        <img class="img-fluid" *ngIf="imgString" [src]="imgString" />
      </div>
      <div class="row justify-content-md-center">
        <input style="display: none" type="file" (change)="onFileChanged($event)" accept="image/*" #fileInput>
        <button (click)="fileInput.click()">No Reupload</button>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" [disabled]="!isPictureValidate"
        (click)="toRegisterDetail()">Next</button>
    </div>
  </div>
</ng-template>


<ng-template #getDetail let-modal>
  <div class="modal-header bg-dark">
    <h4 class="modal-title text-white" id="success-register">Final Step</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Age</label>
        <input type="number" #age="ngModel" name="age" [(ngModel)]="registerUserData.age"
          [class.is-invalid]="age.invalid && age.touched" class="form-control rounded-0" autocomplete="off" required
          max="150">
        <div *ngIf="(age.errors && age.touched)">
          <small class="text-danger" *ngIf="age.errors.required">Age is required</small>
        </div>
      </div>
      <div class="form-group">
        <label>Gender </label>
        <div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" #gender="ngModel" [(ngModel)]="registerUserData.gender" name="gender"
              type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Male">
            <label class="form-check-label" for="inlineRadio1">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" #gender="ngModel" [(ngModel)]="registerUserData.gender" name="gender"
              type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Female">
            <label class="form-check-label" for="inlineRadio2">Female</label>
          </div>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" [disabled]="!isPictureValidate"
      (click)="registerUser()">Register</button>
  </div>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="success-register">Successful Registration</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>User Successful Registered</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="goToLogin()">Go To Login</button>
  </div>
</ng-template>
